<!DOCTYPE html>
<html>
  <head>
    <title>Bookpoint</title>    
    <div class="container">
        <li><a href="3">Home</a></li>
        <li><a href="2">Sessions</a></li>
        <li><a href="1">Reading Queue</a>
      </div>
  </head>
  <body>
    <div class="container">
      <form action="{{ url_for('readingq_create') }}" method="post" accept-charset="utf-8">
        url: <input type="text" name="url" id="" value="" /><br>
      <input type="submit" name="" id="" value="add entry" />
  </form>
    </div>
    
  </body>
</html>
