<!DOCTYPE html>
<html>
  <head>
    <title>Bookpoint</title>    
    <div class="container">
        <li><a href="3">Home</a></li>
        <li><a href="2">Sessions</a></li>
        <li><a href="1">Reading Queue</a>
      </div>
  </head>
  <body>
    <div class="container">
      {% for category, marks in marksd.items() %}
      <h1>{{ category }}</h1>
      {% for mark in marks %}
      <a href="{{ mark.url }}"> {{ mark.title}}  </a><br>
      {% endfor %}
      {% endfor %}
    </div>
  </body>
</html>
